---
kafka_prereqs_setup_openjdk: true
kafka_prereqs_setup_openjdk_package_name: java-1.8.0-openjdk.x86_64

kafka_prereqs_packages:
  - nmap-ncat
  - unzip

kafka_user: kafka
kafka_group: kafka

kafka_version: "{{ kafka_versions.keys() | first }}"

amqstreams_version: "{{ amqstreams_versions.keys() | first }}"
amqstreams_enable: false

kafka_install_workdir: /opt/kafka

kafka_home: "{{ kafka_install_workdir }}/{{ amqstreams_enable | ternary(amqstreams_dirname, kafka_dirname) }}"
